.second{
    float: right;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

#felnev{
    margin-left: 40px;
}

#jelszo, #veznev, #kernev, #email, #felhasznalonev, #jelszo_valid{
    margin-left: 40px;
}

button{
    margin-left: 40px;
}

body{
    background-color: blueviolet;
}

label{
    font-weight: bold;
}